<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-1 text-center"> Add A New book </h1>

    <div class="form-group">
      <ul class="list-group">
      <%= simple_form_for @book, url: books_path do |f| %>

      <li class="form-style-2 vertical-center text-center">  <%= f.input :title %></li>

      <li class="form-style-2 vertical-center text-center">  <%= f.input :author %></li>

      <li class="form-style-2 vertical-center text-center">  <%= f.input :genre %></li>

      <li class="form-style-2 vertical-center text-center">  <%= f.button :submit %></li>
      <% end %>


      </ul>
    </div>
  </div>


<h3 class="text-center"><%= link_to '= Return to Books = ', books_path %></h3>
</div>
